.row
  .col-xs-12
    =@user.email
.row
  .col-xs-6
    =@user.first_name
  .col-xs-6
    =@user.last_name
.row
  .col-xs-6
    =@user.role
  .col-xs-6
    =@user.company_name
.row
  =link_to 'reset password', new_password_path(resource_name)
