.container
  .answer{style: "color:#{@textcolor};"}
    YES
  .time-left{style: "color:#{@textcolor2};"}
    Just HH:MM:SS to freedom
  .motivation{style: "color:#{@textcolor3};"}
    %q
      Something Motivational
