/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Vollkorn|Roboto);

$color-background: #F5F5F5;
$color-main: #FF5252;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 35px;

body {
 background: $color-background;
}

.container {
 width: 100%;
 height: 100%;
 text-align: center;
 top: 40%;
 left: 0;
 margin:  0 auto;
 font-family: 'Roboto', sans-serif;

 p {
   font-size: 20px;
 }

 a {
   display: inline-block;
   position: relative;
   text-align: center;
   color: $color-main;
   text-decoration: none;
   font-size: 20px;
   overflow: hidden;
   top: 5px;

   &:after {
     content: '';
     position: absolute;
     background: $color-main;
     height: 2px;
     width: 0%;
     transform: translateX(-50%);
     left: 50%;
     bottom: 0;
     transition: .35s ease;
   }
   &:hover:after,
   &:focus:after,
   &:active:after {
     width: 100%;
   }
 }
}

h1 {
 position: relative;
 text-align: center;
}

.button_container {
 position: fixed;
 top: 5%;
 right: 2%;
 height: $button-height;
 width: $button-width;
 cursor: pointer;
 z-index: 100;
 transition: opacity .25s ease;

 &:hover {
   opacity: .7;
 }

 &.active {
   .top {
     transform: translateY(11px) translateX(0) rotate(45deg);
     background: $color-active;
   }
   .middle {
     opacity: 0;
     background: $color-active;
   }

   .bottom {
     transform: translateY(-11px) translateX(0) rotate(-45deg);
     background: $color-active;
   }
 }

 span {
 background: $color-main;
 border: none;
 height: 5px;
 width: 100%;
 position: absolute;
 top: 0;
 left: 0;
 transition:  all .35s ease;
 cursor: pointer;

   &:nth-of-type(2) {
     top: 11px;
   }

   &:nth-of-type(3) {
     top: 22px;
   }
 }
}

.overlay {
 position: fixed;
 background: $color-main;
 top: 0;
 left: 0;
 width: 100%;
 height: 0%;
 opacity: 0;
 visibility: hidden;
 transition: opacity .35s, visibility .35s, height .35s;
 overflow: hidden;

 &.open {
   opacity: .9;
   visibility: visible;
   height: 100%;

   li {
     animation: fadeInRight .5s ease forwards;
     animation-delay: .35s;

     &:nth-of-type(2) {
       animation-delay: .4s;
     }
     &:nth-of-type(3) {
       animation-delay: .45s;
     }
     &:nth-of-type(4) {
       animation-delay: .50s;
     }
   }
 }
 nav {
   position: relative;
   height: 70%;
   top: 50%;
   transform: translateY(-50%);
   font-size: 50px;
   font-weight: 400;
   text-align: center;
 }
 ul {
   list-style: none;
   padding: 0;
   margin: 0 auto;
   display: inline-block;
   position: relative;
   height: 100%;

   li {
     display: block;
     height: 25%;
     height: calc(100% / 6);
     min-height: 50px;
     position: relative;
     opacity: 0;

     a {
       display: block;
       position: relative;
       color: $color-link;
       text-decoration: none;
       overflow: hidden;

       &:hover:after,
        &:focus:after,
        &:active:after {
          width: 100%;
        }

       &:after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 50%;
         width: 0%;
         transform: translateX(-50%);
         height: 3px;
        //  background: $color-link;
         transition: .35s;
       }
     }
   }
 }
}
.dash {
 position: fixed;
 background: $color-main;
 top: 0;
 left: 0;
 width: 100%;
 height: 0%;
 opacity: 0;
 visibility: hidden;
 transition: opacity .35s, visibility .35s, height .35s;
 overflow: hidden;

 &.open {
   opacity: .9;
   visibility: visible;
   height: 100%;

   li {
     animation: fadeInDashNav .5s ease forwards;
     animation-delay: .35s;

     &:nth-of-type(2) {
       animation-delay: .4s;
     }
     &:nth-of-type(3) {
       animation-delay: .45s;
     }
     &:nth-of-type(4) {
       animation-delay: .50s;
     }
   }
 }
 nav {
   position: relative;
   height: 70%;
   top: 50%;
   transform: translateY(-50%);
   font-size: 50px;
   font-weight: 400;
   text-align: left;
 }
 ul {
   list-style: none;
   padding: 0;
   margin: 0 auto;
   display: inline-block;
   position: relative;
   height: 100%;

   li {
     display: block;
     height: 25%;
     height: calc(100% / 6);
     min-height: 50px;
     position: relative;
     opacity: 0;

     a {
       display: block;
       position: relative;
       color: $color-link;
       text-decoration: none;
       overflow: hidden;
       font-size: 3rem;
       padding: 1rem;

       &:hover:after,
        &:focus:after,
        &:active:after {
          width: 100%;
        }

       &:after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 50%;
         width: 0%;
         transform: translateX(-50%);
         height: 3px;
        //  background: $color-link;
         transition: .35s;
       }
     }
   }
 }
}
@keyframes fadeInDashNav {
 0% {
   opacity: 0;
   left: 20%;
 }
 100% {
   opacity: 1;
   left: 0;
 }
}
@keyframes fadeInRight {
 0% {
   opacity: 0;
   left: 20%;
 }
 100% {
   opacity: 1;
   left: 0;
 }
}
body{
  background-color: #292929
}
.answer{
  text-align: center;
  width: 100%;
  font-size: 20rem;
}
.time-left{
  text-align: center;
  width: 100%;
  font-size: 2rem;
  opacity: .5;
  text-transform: uppercase;
}
.motivation{
  text-align: center;
  width: 100%;
  font-size: 3rem;
  opacity: .6;
}
q {
  text-align: center;
  width: 100%;
  font-size: 3rem;
  quotes: "“" "”" "‘" "’";
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
#overlay2{
  opacity: 1;
}
#overlay3{
  opacity: 1;
}
#log_in{
  background-color: none;
  width: auto;
  color: #fff;
  font-weight: medium;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: -1rem;
  padding-bottom: -1rem;
}
#sign_up{
  background-color: none;
  width: auto;
  color: #fff;
  font-weight: medium;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: -1rem;
  padding-bottom: -1rem;
}
#devise_log_in_form h1{
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
}
#devise_log_in_form input, select, #user_role{
  background: none;
  border: solid .35rem #fff;
  margin: 1rem;
  color: #fff;
  padding-left: 1rem;
}
#devise_log_in_form input:focus, #user_role:focus{
  background: none;
  border: solid .35rem #000;
  margin: 1rem;
  color: #000;
  outline-width: 0;
}
#devise_log_in_form input:hover, #user_role:hover{
  background: none;
  border: solid .35rem #000;
  margin: 1rem;
  color: #000;
  outline-width: 0;
}
#devise_log_in_form{
  background: none;
  margin: 1rem;
  color: #000;
  outline-width: 0;
  font-size: 2rem;
  border:none;
  position: relative;
  text-transform: lowercase;
  border-radius: 0px;
}
#devise_log_in_form select {
  height: 3rem;
  vertical-align: top;
}
#devise_log_in_form input, select {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}

:-ms-input-placeholder {
   color: #fff;
}
#user_email {
  width: 96%;
  margin: auto;
}
#user_role{
  width: 92%;
  border: 0;
  outline: solid .35rem #fff;
  background-color: none;
  max-height: 3.5rem;
}

#user_role:hover{
  width: 92%;
  border: 0;
  outline: solid .35rem #000;
  background-color: none;
}
#user_role:focus{
  width: 92%;
  border: 0;
  outline: solid .35rem #000;
  background-color: none;
}
.user_role{
  padding: .3rem;
  height: 100%;
  width: 100%;
}
#content {
  width:450px;
  height:281px;
  overflow:hidden; /* So the sliding bit doesn't stick out. */
  margin:0 auto;
}
#all_content {
  /* This is the bit that moves. It has 4 images, so 4 * 450 = 1800. You could use javascript
  to work this out instead by counting images. */
  width:1800px;

  -webkit-transition:all 1.0s ease-in-out;
  -moz-transition:all 1.0s ease-in-out;
  -o-transition:all 1.0s ease-in-out;
  transition:all 1.0s ease-in-out;
}
.content-pane {
  padding:0;
  margin:0;
  float:left; /* All the images are in a row next to each other. */
}
