.button_container#toggle
  %span.top
  %span.middle
  %span.bottom
.overlay#overlay
  %nav.overlay-menu
    %ul
      %li#toggle2
        %a{href: '#'}='sign in' unless user_signed_in?
      %li#toggle3
        %a{href: '#'}='sign up' unless user_signed_in?
      %li= link_to 'sign out', destroy_user_session_path, method: :delete if user_signed_in?
  .overlay#overlay2
    %nav.overlay-menu
      %ul
        %li
          =render 'devise/sessions/new'
  .overlay#overlay3
    %nav.overlay-menu
      %ul
        %li
          =render 'devise/registrations/new'
